/*common*/
body {
    color: white;
}

a {
    color: white;
    text-decoration: none;
}

a:hover {
    color: white;
}

section {
    padding: 50px 0 50px 0;
}

.form-control {
    border: none;
    border-bottom: 1px solid black;
    border-radius: 0;
    color: #2c3e50;
    font-weight: 500;
}

.form-control:focus {
    box-shadow: none;
}

.padding-60 {
    padding: 0 100px;
}

/*star decoration*/
.star-decoration {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 20px 0;
}

.darkness .line-star {
    background-color: #2c3e50;
}

.darkness, .darkness .fa-star {
    color: #2c3e50;
}

.line-star {
    width: 90px;
    height: 5px;
    border-radius: 30px;
    background-color: #fff;
}

.fa-star {
    color: white;
    font-size: 30px;
    margin: 0 10px;
}

/*button*/
.btn {
    border: 1px solid #fff;
    color: #fff;
}

.fa-bars{
    color: #fff;
}

.color-2 {
    background-color: #1abc9c;
}

/*fine button*/
/*header*/

header {
    background-color: #2c3e50;
    position: fixed;
    z-index: 1;
    width: 100%;
}

header a {
    color: white;
    margin: 0 10px;
}


header .row {
    height: 70px;
}


/*main*/

/*hero*/
.hero {
    background-color: #1abc9c;
    padding: 80px 0 20px 0;
}
.img {
    width: 200px;
}

.img img {
    width: 100%;
}
/*fine hero*/

/*inizio portfolio*/
.porfolio .row {
    padding: 10px;
}

.text-square {
    position: relative;
    border-radius: 10px;
    overflow: hidden;
}

.square {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    opacity: 0;
    font-size: 50px;
    transition: 0.5s;
    background-color: #1abc9c;
}

.square:hover {
    opacity: 0.6;
}

.fa-plus {
    position: absolute;
    font-size: 60px;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
}


.text-square img {
    width: 100%;
    opacity: 1;
}
/*fine portfolio*/

/*footer*/
.about {
    background-color: #1abc9c;
}

.footer-top {
    background-color: #3a546d;
}

.logos {
    display: flex;
    justify-content: center;
}

.round-logos {
    width: 50px;
    height: 50px;
    border: 1px solid #fff;
    border-radius: 50%;
    line-height: 50px;
    font-size: 20px;
    margin: 0 10px;
    transition: 0.3s;
}

.round-logos:hover {
    color: #2c3e50;
    background-color: #fff;
}

.footer-bottom {
    background-color: #2c3e50;
}

.bootstrap-link {
    color: #1abc9c;
}


/*test*/ 


.navbar-toggler {
    border: 1px solid white;
}

.navbar-toggler:focus {
    box-shadow: none;
}